/* UTILITIES */
:root {
    --basic-color:  #15406a;
    --brown: #672807;
    --dark-color: #333;
    --white-color: #fff;
    --basic-light: #0d6efd;
    --bg-color: #070729;
}

body {
    font-family: "Franklin Gothic ITC",Helvetica,Arial,sans-serif;
    margin: 0 auto;
}
.home {
    background-image: url(../images/document.jpg);
    background-repeat:repeat-y;
    background-position: cover;
    background-color: #00000010;
    background-blend-mode: overlay;
}
a {
    text-decoration: none;
    color: var(--basic-color);
}
a:hover {
    color: var(--basic-light);
}
ul, ol {
    list-style: none;
}


/* Header and Menu */

header nav {
    /* margin-bottom: 20px; */
    z-index: 30 !important;
  }
   header nav button {
        border: none !important;
        background-color: var(--white-color);
        color: #cccad6;
    }
  header .nav a {
        color: var(--basic-color);
    }

.info {
    margin-top: 85px;
    background-color: var(--bg-color);
    /* height: 75px; */
    z-index: 1;
}
.info a {
    color: var(--white-color);
}
/* .carousel {
    transition: 5s ease;
} */
   


    /* Offcanvas Menu/Search */
#navbar-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fffffffa;
        z-index: 20;
        justify-content: center;
        align-items: center;
        display: none;
        overflow-y: scroll;
    }
 #navbar-search {
    position: fixed;
    align-items: center;
    /* margin-top: 80px; */
    width: 100%;
    height: 100vh;
    background-color: #fffffffa;
    z-index: 20;
    /* justify-content: center; */
    display: none;
 }
 #navbar-search ::-webkit-input-placeholder {
     color: #0d6dfdcd;
 }
 #navbar-search input {
     font-size: 3rem;
     border-color: var(--basic-light);
     margin: 0 25px;
 }
 #navbar-search a {
     text-decoration: none;
     position: relative;
     top: 25px;
     left: -75px;
     color: #0d6dfd77;
     cursor: pointer;
 }
 #navbar-search a.fa-search {
    font-size: 38px;
}
.menu {
    display: grid !important;
    }
.search-bar {
    display: grid !important;
    }
    .main-menu ul, .menu-options ul {
        list-style: none;
    }
    .main-menu a {
        text-decoration: none;
        color: var(--basic-color);
        font-size: 2.5rem;
    }
    .main-menu a:hover, .menu-options a:hover {
        color: var(--basic-light);
    }

    .main-menu {
        border-right: 1px solid var(--basic-color);
        padding-right: 50px;
    }
    .menu-options a {
        text-decoration: none;
        color: var(--basic-color);
    }
    .menu-options li  {
        padding: 15px 0;
    }
    .menu-options .social-links a  {
        width: 40px;
        height: 40px;
        background-color: var(--bg-color);    
        margin: 0 5px;
        border-radius: 50%;
        color: var(--white-color);
    }
    .menu-options .social-links span {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 13px;
    }
    .menu-options .social-links a:hover {
        transform: scale(1.08);
    }
    .menu-options li:last-child a {
        background-color: var(--bg-color);
        color: var(--white-color);
        padding: 12px;
    }
    .menu-options li:last-child {
        margin-top: 10px;
        margin-left: 10px;
    }


/* first-carousel */

header .carousel-item {
        background-color: #000;
}
header .carousel {
    transition: all ease 2s;
}
.carousel-item a {
    color: var(--basic-color);
}
header .carousel .btn-primary {
    background-color: var(--brown) !important;
    color: #fff;
}
header .carousel-item img {
    opacity: 0.5;
    object-fit: cover;
}
header .carousel-item h1 {
    font-weight: bolder;
    font-size: 50px;
}

main {
    width: 100%;
    display: block;
}

/* Article/About */
.home-about article {
    margin: 0 auto;
}
.home-about article p {
    font-size: 20px;
}
.home-about article h2 {
    font-size: 24px;
    color: var(--basic-light);
}
.home-about-article {
    border: 1px solid var(--basic-light);
}



/* Blog Section */
.blog .btn {
    background-color: var(--bg-color) !important;
    color: var(--white-color);
}
.blog h1 {
    color: var(--bg-color) !important;
}
.blog-date {
    position: relative;
    top: 10px;
}
.cases:hover, 
.home-about-info:hover,
.mission-article:hover {
    transform: scale(1.05);
}
.cases-text {
    padding: 0 5px;
}
.more-caese { 
    border-bottom: 1px solid var(--basic-light);
    border-bottom-width: 20px;
}



/* Testimonial Section*/
.testimonial {
    background-color: #452b0677;
}
/* .customer-info p {
    font-size: 12px !important;
    position: relative;
    top: 5px;
} */
.testimonial .bg-warning {
    background-color: var(--bg-color) !important;
}





/* CelebrationSection */
.celebration {
    background-image: url(../images/shape-5.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.celebration a {
    color: #fff;
}
.celebration a:hover {
    color: var(--basic-light);
}


/* footer */
footer {
    background-color: var(--bg-color);
    color: var(--white-color);
}
.footer-links a {
    /* padding: 0 10px; */
    color: var(--white-color);
}
footer li {
    margin-bottom: 20px;
}
footer form .btn {
    background-color: var(--brown) !important;
    color: var(--white-color);
    font-weight: bold;
}
footer form .btn:hover {
    background-color: var(--white-color) !important;
    color: #000;
}
footer .social-links .fab {
    font-size: 25px;
}
footer .social-links a  {
    width: 40px;
    height: 40px;
    background-color: #b8b4b4;    
    margin: 0 5px;
    border-radius: 50%;
}
footer .social-links span {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
footer .social-links a:hover {
    transform: scale(1.08);
}





@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translatey(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-in;
}
.slide-in-right {
    animation: slideInFromRight 1s ease-in;
}
.slide-in-top {
    animation: slideInFromtop 1s ease-in;
}
.slide-in-bottom {
    animation: slideInFrombottom 1s ease-in;
}







@media (max-width: 768px) {

/* Header/Menu/Search */
nav .hamburger .fa, nav .search .fa {
    font-size: 20px !important;
}   
.info {
    margin-top: 85px;
    padding-top: 7px;
}

.carousel-item h1 {
    font-size: 35px !important;
}


.main-menu {
        border-right: none;
        border-bottom: 1px solid var(--basic-color);
        border-width: 100%;
        padding-right: 0;
        padding-top: 50px;
    }
    .main-menu a {
        font-size: 23px;
    }
    .menu-options a {
        font-size: 14px;
    }
    .menu-options li {
        padding: 5px 0;
    }
    .main-menu::after {
        content: '';
        width: 100%;
        height: 10px;
        border-bottom: 1px solid var(--basic-color);
    }
#navbar-options {
    justify-content: start;
}
#navbar-menu {
    justify-content: left;
    padding: 40px;
}
#navbar-search input {
    font-size: 1rem;
}
#navbar-search a.fa-search {
    font-size: 20px;
    top: 10px;
    left: -50px;
}
.home-about-article .ps-3,
.cases-text {
    font-size: 16px;
}
    /* .customer-info h5 {
        font-size: inherit;
    } */

.blog h1{
    padding-top: 32px;
}

footer img {
    margin: 0 auto;
}
    

    /* other pages */
    

}

/* Extra Small */
@media (max-width: 400px) {
    header .navbar-brand img {
        width: 250px;
    }
    .info {
        margin-top: 75px;
    }
}
